* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#body{
    flex-direction: column;
    width: 100%;
    height: 90%;
    min-height: 100vh;
}

#footer{
    height: 10%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0d6efd;
    text-align: center;
    color: white !important;
}

nav{
    position: fixed !important;
    width: 100%;
}

#list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

ol{
    width: 100%;
}

.ScrapingProcess{
    margin-left: 30px;
}

.title{
    padding-top: 100px;
}
